<h2>Log in</h2>

<%= form_for :userdate, url: check_userdate_path do |f| %>
  <ul>
    Email<br>
    <%= f.text_field :email %>
  </ul>
  <ul>
    Password<br>
    <%= f.text_field :pass  %>
  </ul>
  <p>
    <%= f.submit %>
  </p>
<% end %>
